.situation-view-wrapper {
  .main-header-wrapper {
    background-color: #fff;
  }

  .tables-wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: 300px 960px minmax(400px, 1fr);
  }

  .table-wrapper {
    padding: 0;
  }

  .set-table-wrapper {
    overflow: auto;
  }

  .action-links {
    display: flex;

    div {
      + div {
        margin-left: 50px;
      }
    }

    .action-link {
      color: #0b7abf;
      cursor: pointer;

      &:hover {
        color: darken(#0b7abf, 15%);
      }
    }
  }
}