$modal-background-color: #4b4b4b;
$modal-selection-color: orange;
$primary-color: rgb(182, 118, 0);
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xlg: 1420px;
$filter-text-color: #e2e2e2;
$active-filters-primary-color: gray;

.play-select-modal {
  .modal-main {
    max-height: 90vh;
    overflow-y: auto;
  }
}

.play {
  padding: 10px;
  color: white;
  border: 1px solid lighten($modal-background-color, 10%);
  cursor: pointer;

  &:not(:first-child) {
    border-top: none;
  }

  &:hover {
    background-color: darken($modal-background-color, 5%);
  }
}

.filters {
  margin-bottom: 20px;
}