.situation-view-wrapper {
  .tables-wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr
  }

  .table-wrapper {
    padding: 0;
  }

  .set-table-wrapper {
    overflow: auto;
  }
}