$modal-background-color: #4b4b4b;
$modal-selection-color: orange;

.madden-table-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(100% - 70px) 70px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header-tab-wrapper {
  background-color: #e9e9e9;
  margin-top: 11px;
  overflow-x: auto;
  width: 100vw;

  .header-tab {
    padding: 10px 20px;
    height: 40px; 
    background-color: #e9e9e9;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;

    &:hover {
      background-color: #d1d1d1;
    }

    &.active {
      background-color: #ffffff;
    }
  }
}

.header-tab-content {
  display: flex;
  flex-wrap: nowrap;
  width: min-content;
}

.table-data {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  width: 100vw;
}

.madden-playbook-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.soft-hide {
  pointer-events: none;
  opacity: 0;
}